<div id="footer" class="mx-1 lg:mx-1.5 *:py-2 grid grid-cols-3 gap-4 border-t border-foreground text-sm">
    <!-- BLURB -->
    <div class="col-span-3 md:col-span-2 flex flex-row gap-0.5 items-start justify-start">
        <img src="/favicons/favicon.svg" width="15" class="mt-0.25">
        <div class="max-w-lg text-balance select-none text-base">
            <strong>Web Writers’ Collective</strong> is an invite-only community to discuss all things writing on the web: culture, technique, process, publishing and more. We also provide a space to collaborate on writing projects together, including <em>Anthologies</em> our community zine.
        </div>
    </div>

    <!-- LINKS & COPYRIGHT -->
    <div class="col-span-3 md:col-span-1 flex flex-col gap-2 items-start justify-end">
        <div class="flex flex-row flex-wrap gap-2 lg:flex-col lg:gap-0.5 items-start justify-start">
            <a href="/webring" class="flex flex-row gap-0.5 items-center justify-start font-bold all-caps mb-1.5 {{ if or (eq .RelPermalink "/webring/") (hasPrefix .RelPermalink "/webring/") }}current{{ end }}">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" height="16" width="16" class="text-accent">
                  <g id="trip-origin">
                    <path id="Union" fill="currentColor" d="M12 2c5.5228 0 10 4.47715 10 10 0 5.5228 -4.4772 10 -10 10 -5.52285 0 -10 -4.4772 -10 -10C2 6.47715 6.47715 2 12 2m0 4c-3.31371 0 -6 2.68629 -6 6 0 3.3137 2.68629 6 6 6 3.3137 0 6 -2.6863 6 -6 0 -3.31371 -2.6863 -6 -6 -6" stroke-width="1"></path>
                  </g>
                </svg>
                Join our webring
            </a>
            <a href="/organisers">Meet our organisers</a>
            <a href="/editing-guide">Edit this website</a>
            <a href="/community-guidelines">Code of conduct</a>
            <a href="/privacy-policy">Privacy policy</a>
        </div>

        <div class="max-w-xs">
            <a href="/">&copy; {{ now | dateFormat "2006" }} Web Writers’ Collective</a><br/>Rights to works published on this website belong to their respective authors. This website does not use AI.
        </div>

    </div>
</div>
