<!DOCTYPE html>
<html lang="en-GB">
<head>
  <meta charset="utf-8">
  <meta name="robots" content="noindex">

  {{ $sourceDomain := .Params.domain }}
  {{ $destinationURL := .Params.destination }}

  {{ $separator := "?" }}
  {{ if strings.Contains $destinationURL "?" }}
    {{ $separator = "&" }}
  {{ end }}

  {{ $destination := printf "%s%sref=%s" $destinationURL $separator $sourceDomain }}

  <meta
    http-equiv="refresh"
    content="0;url={{ $destination }}"
  >

  <title>WWC Webring • Previous</title>
</head>
<body></body>
</html>
