{{ define "main" }}
<div class="max-w-xs mx-auto my-0">
    <h1 class="text-accent">4-oh-4</h1>
    <h2>Page not found!</h2>
    <div class="prose mb-1.5">
        <p>We’re sorry but we couldn't find what you were looking for.</p>
        <p>If you believe this to be in error, please <a href="mailto:admin@webwriterscollective.com?subject=404%20error%20on%20WWC&body=Hi%2C%0A%0AI%20came%20across%20a%20404%20error%20page%20on%20the%20Web%20Writers%E2%80%99%20Collective.%0A%0AWhen%20this%20was%20happened%2C%20I%20was%20looking%20for...%20%5Bor%5D%20I%20don%E2%80%99t%20know%20how%20this%20happened.%0A%0A%E2%80%94fin%E2%80%94">get in touch</a>.</p>
        <p>Here are some links that might interest you:</p>
    </div>
    <div class="flex flex-row flex-wrap items-center justify-between gap-1">
        <a href="/anthologies" class="button">Anthologies</a>
        <a href="/noticeboard" class="button">Noticeboard</a>
        <a href="/forum" class="button">Forum</a>
    </div>
</div>
{{ end }}
