{{ define "main" }}
<div class="max-w-xs mx-auto my-0">
    <h1 class="text-accent">4-oh-4</h1>
    <h2>Page not found!</h2>
    <div class="prose mb-1.5">
        <p>We’re sorry but we couldn't find what you were looking for.</p>
        <p>If you believe this to be in error, please <a href="admin@webwriterscollective.com">get in touch</a>.</p>
        <p>Here are some links that might interest you:</p>
    </div>
    <div class="flex flex-row items-center justify-between gap-1">
        <a href="/anthologies" class="button">Anthologies</a>
        <a href="/noticeboard" class="button">Noticeboard</a>
        <a href="/forum" class="button">Forum</a>
    </div>
</div>
{{ end }}
