<form name="join-wwc" action="/apply-thanks/" netlify netlify-honeypot="bot-field">
  <p hidden>
    <label>Don’t fill this out: <input name="bot-field"></label>
  </p>

  <p>
    <label>Name <input type="text" name="name" required /></label>
  </p>

  <p>
    <label>Email <input type="email" name="email" required /></label>
  </p>

  <p>
    <label>Website <input type="url" name="website" required /></label>
  </p>

  <p>
    <label>Why would you like to join WWC?
      <textarea name="why" required></textarea>
    </label>
  </p>

  <p>
    <label>How did you learn about WWC?
      <input type="text" name="referral" />
    </label>
  </p>

  <p>
    <button type="submit">Apply for membership</button>
  </p>
</form>
