<form name="join-wwc" method="POST" data-netlify="true" netlify-honeypot="bot-field">
  <input type="hidden" name="form-name" value="wwc-join">

  <p hidden>
    <label>Don’t fill this out: <input name="bot-field"></label>
  </p>

  <label>
    Name
    <input type="text" name="name" required>
  </label>

  <label>
    Email
    <input type="email" name="email" required>
  </label>

  <label>
    Website
    <input type="url" name="website">
  </label>

  <label>
    Why would you like to join WWC?
    <textarea name="why" required></textarea>
  </label>

  <label>
    How did you learn about WWC?
    <input type="text" name="referral" required>
  </label>

  <button type="submit">Join WWC</button>
</form>
